
<div align="center">
  <img class= "contens_img" src="<%= @training_content.picture_1 %>" border="0" alt="BoneBone" ><br>
  <div class="img_block">
    <%= @training_content.text_1 %><br>
  </div>
  <img class= "contens_img" src="<%= @training_content.picture_2 %>" border="0" alt="BoneBone"><br>
  <div class="img_block">
    <%= @training_content.text_2 %><br>
  </div>
  <img class= "contens_img" src="<%= @training_content.picture_3 %>" border="0" alt="BoneBone" ><br>
  <div class="img_block">
    <%= @training_content.text_3 %><br>
  </div>
</div>


