<div class = "contents row" align="center">
  <h2>ユーザー情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <strong><%= f.label :email %></strong><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <strong><%= f.label :新しいPassword %> </strong>
      <br><i>(<%= @minimum_password_length %> characters minimum)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
      <% end %>
    </div>

    <div class="field">
      <strong><%= f.label :Password確認 %></strong><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <strong><%= f.label :元のpassword %></strong><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="field">
      <strong><%= f.label :Nickname %></strong></br>
      <%= f.text_field :nickname, autocomplete: "off" %>
    </div>

    <h3>コースを選択しよう！</h3>
      <div class="img_block">
        <label><%= f.radio_button :select_course, "1" %>”スーツをカッコよく着こなす！厚い胸板に仕上げる”コース</label></br>
        <label><%= f.radio_button :select_course, "2" %>”服が決まる肩と背中のラインを手にいれる”コース</label></br>
        <label><%= f.radio_button :select_course, "3" %>”半袖welcome！太い腕に仕上げていく”コース</label></br>
        <label><%= f.radio_button :select_course, "4" %>”厚い胸板とキレイな腹筋を手にいれる”コース</label></br>
      </div>

    <h3>曜日を選択しよう</h3>
      <div>
        <label><%= f.check_box 'date_mon', {}, '月', false %>月</label>
        <label><%= f.check_box 'date_tue', {}, '火', false %>火</label>
        <label><%= f.check_box 'date_wed', {}, '水', false %>水</label>
        <label><%= f.check_box 'date_thu', {}, '木', false %>木</label>
        <label><%= f.check_box 'date_fri', {}, '金', false %>金</label>
        <label><%= f.check_box 'date_sat', {}, '土', false %>土</label>
        <label><%= f.check_box 'date_sun', {}, '日', false %>日</label>
      </div>
      <br>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  <br>
    <%= link_to "前のページに戻る", :back %>
  </div>
