<div class = "contents row">

  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :Nickname %></br>
      <%= f.text_field :nickname, autocomplete: "off" %>
    </div>

    <h3>トレーニングを決めよう</h3></br>
    <%= f.label :お悩みの箇所は？ %></br>
      <label><%= f.radio_button :select_course, "1" %>肩幅を大きく見せたい</label></br>
      <label><%= f.radio_button :select_course, "2" %>大胸筋をつけたい</label></br>
      <label><%= f.radio_button :select_course, "3" %>腕を太くしたい</label></br>
      <label><%= f.radio_button :select_course, "4" %>腹筋を割りたい</label></br>

    <h3>曜日を選択しよう</h3>
      <label><%= f.check_box 'date_mon', {}, '月', false %>月</label>
      <label><%= f.check_box 'date_tue', {}, '火', false %>火</label>
      <label><%= f.check_box 'date_wed', {}, '水', false %>水</label>
      <label><%= f.check_box 'date_thu', {}, '木', false %>木</label>
      <label><%= f.check_box 'date_fri', {}, '金', false %>金</label>
      <label><%= f.check_box 'date_sat', {}, '土', false %>土</label>
      <label><%= f.check_box 'date_sun', {}, '日', false %>日</label>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
