<div class="contents row">
  <h2>タイムライン</h2>
  <p>他のユーザーのコメントを見て次もファイト！！</p>
  <% @comments.each do |comment| %>
    <div class = "timeline">
      <span>投稿者</span><%= comment.user.nickname %>
      <table>
        <tr>
          <td>
            <% time = comment.created_at %>
            <%= timeline_date(time) %>
          </td>
          <td>
            <%= comment.text %>
          </td>
        </tr>
      </table>
      <% if user_signed_in? && current_user.id == comment.user_id %>
        <ul>
          <li>
            <%= link_to '編集', "/comments/#{comment.id}/edit" %>
          </li>
          <li>
            <%= link_to '削除', "/comments/#{comment.id}", method: :delete %>
          </li>
        </ul>
      <% end %>
      </div>
  <% end %>
</div>
