<div class = "contents row">
  <p><%= @nickname %>さんのマイページ</p>
  <h3>今日のメニュー</h3>
    <h4><%= @select_course.course_name %></h4>
    <%= @select_course.menu_name_1 %><br>
    <%= @select_course.menu_name_2 %><br>
    <%= @select_course.menu_name_3 %><br>
    <br>
    <%= @traning_days.date_mon %>
    <%= @traning_days.date_tue %>
    <%= @traning_days.date_wed %>
    <%= @traning_days.date_thu %>
    <%= @traning_days.date_fri %>
    <%= @traning_days.date_sat %>
    <%= @traning_days.date_sun %>
    がトレーニング日です！！


  <h3>今日のTODOと感想</h3>
  <%= form_tag("/comments/", method: :post) do %>
    <%= label_tag :TODO %><br>
      <input type="radio" name="progress" value="2"> やった<br>
      <input type="radio" name="progress" value="1"> 半分やった<br>
    <%= label_tag :感想 %><br>
      <textarea cols="30" name="text" placeholder="今日はメニューを２往復した！" rows="10"></textarea><br>
    <%= submit_tag "送信" %>
  <% end %>

  <h3>進捗CHECK</h3>
  <spna>現在<%= @sum_progress %>pt</spna><br>

  <a class="twitter-share-button"
  href="https://twitter.com/share"
  data-size="large"
  <!-- シェアしたいURL
  data-url=""
  data-via=""
  data-related="twitterapi,twitter"
  <!-- ハッシュタグ
  data-hashtags="BoneBone"
  data-text="やった!"
  data-size="large"
  data-lang="ja"
  data-dnt="true">
  Tweet
  </a>
  <br>

  <h3>タイムライン</h3>

  <% @comments.each do |comment| %>
  <% time = comment.created_at %>
  <%= timeline_date(time) %>
  <%= comment.text %><br>
  <% end %>
  <br>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

</div>
