<div class = "contents row">
  <p><%= @nickname %>さんのマイページ</p>

  <h3>今日のメニュー</h3>
  <div class= "today_training">
    <h4><%= @select_course.course_name %></h4>
    <%= link_to "#{@select_course.menu_name_1}", "/contents/#{@select_course.menu_name_1}" %><br>
    <%= link_to "#{@select_course.menu_name_2}", "/contents/#{@select_course.menu_name_2}" %><br>
    <%= link_to "#{@select_course.menu_name_3}", "/contents/#{@select_course.menu_name_3}" %><br>
    <br>
    <%= @traning_days.date_mon %>
    <%= @traning_days.date_tue %>
    <%= @traning_days.date_wed %>
    <%= @traning_days.date_thu %>
    <%= @traning_days.date_fri %>
    <%= @traning_days.date_sat %>
    <%= @traning_days.date_sun %>
    が<%= @nickname %>さんのトレーニング日です！！
  </div>

<div class = box-todo>
  <h3>今日のTODOと感想<i class="icon-chat"></i></h3>
  <div class= "todo_comment">
  <%= form_tag("/comments/", method: :post) do %>
    <h4>TODO</h4>
      <input type="radio" name="progress" value="2"> やった<br>
      <input type="radio" name="progress" value="1"> 半分やった<br>
    <h4>感想</h4>
      <textarea cols="30" name="text" placeholder="今日はメニューを２往復した！" rows="10"></textarea><br>
    <%= submit_tag "送信" %>
  <% end %>
  </div>

<div class = box-progress>
  <h3>進捗CHECK<i class="icon-signal"></i></h3>
  <div class = "progress">
    <spna>現在<strong class="sum_progress"><%= @sum_progress %></strong>PT</spna><br>
    <p>※300ptを超えたら次のトレーニングコースを試してみましょう！</p>

    <a class="twitter-share-button"
    href="https://twitter.com/share"
    data-size="large"
    <!-- シェアしたいURL
    data-url=""
    data-via=""
    data-related="twitterapi,twitter"
    <!-- ハッシュタグ
    data-hashtags="BoneBone"
    data-text="やった!"
    data-size="large"
    data-lang="ja"
    data-dnt="true">
    Tweet
    </a>
  </div>
</div>

<div class = box-timeline>
<h3 class="htimeline" >タイムライン</h3>
  <% @comments.each do |comment| %>
    <div class = "timeline">
      <table>
        <tr>
          <td>
            <% time = comment.created_at %>
            <%= timeline_date(time) %>
          </td>
          <td><strong><%= comment.text %></strong></td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
  <br>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>

</div>
