<!DOCTYPE html>
<html>
<head>
  <title>BoneBone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<body>
  <!-- piccommentから持ってきた -->
  <header class="header">
    <div class="header__bar row">
      <% if user_signed_in? %>
      <p>コースで選ぶ、痩せ型特化筋トレサービス</p>
      <h1><a href="/users/:curent_user.id"><img class= "BoneBone" src="https://www.fastpic.jp/images.php?file=8901965786.png" border="0" alt="BoneBone" ></a></h1>
        <div class="navbar">
          <span>
            <ul class="user__info">
              <li>
                ・<%= link_to 'マイページ', "/users/current_user.id" %>
                ・<%= link_to 'コンテンツ一覧', "/contents" %>
                ・<%= link_to 'コメント一覧', "/comments" %>
                ・<%= link_to '投稿する' ,"/comments/new" %>
                ・<%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
              </li>
            </ul>
          </span>
        </div>
      <% else %>
      <h1><a href="/"><img class= "BoneBone" src="https://www.fastpic.jp/images.php?file=8901965786.png" border="0" alt="BoneBone" ></a></h1>
        <div class="navbar">
          <span>
            <ul class="user__info">
              <li>
                ・<%= link_to 'ログイン', "/users/sign_in", class: 'post' %>
                ・<%= link_to '新規登録', "/users/sign_up", class: 'post' %>
                ・<%= link_to 'TOP PAGE', "/" %>
              </li>
            </ul>
          </span>
        </div>
      <% end %>
    </div>
  </header>

<%= yield %>

</body>
</html>
