<!DOCTYPE html>
<html>
<head>
  <title>BoneBone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</head>
<body>
  <!-- piccommentから持ってきた -->
  <header class="header">
    <div class="header__bar row">
      <% if user_signed_in? %>
      <h1 class="grid-6"><a href="/users/:curent_user.id">BoneBone</a></h1>
        <div class="user_nav grid-6">
          <span>
            <ul class="user__info">
              <li>
                ・<%= link_to 'マイページ', "/users/current_user.id" %>
                ・<%= link_to 'コンテンツ一覧', "/contents" %>
                ・<%= link_to 'コメント一覧', "/comments" %>
                ・<%= link_to 'ログアウト', "/users/sign_out", method: :delete %>
              </li>
            </ul>
          </span>
        <a class="post" href="/comments/new" style="float :right">投稿する</a>
    </div>
      <% else %>
      <h1 class="grid-6"><a href="/users/sign_up">BoneBone</a></h1>
        <div class="grid-6">
          <%= link_to 'ログイン', "/users/sign_in", class: 'post' %>
          <%= link_to '新規登録', "/users/sign_up", class: 'post' %>
          <%= link_to 'TOP PAGE', "/" %>
        </div>
      <% end %>
    </div>
  </header>

<%= yield %>

</body>
</html>
